@font-face {
    font-family: "Frutiger";
    src: url("../fonts/frutiger.otf");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Frutiger";
}
body {
    background-color: #f3f3f3;
}
#map {
    position:absolute; 
    top: 65px; 
    bottom:0; 
    width:100%;
}
.content {
    margin-top: 65px;
}
nav {
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background-color: #f3f3f3;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}
.logo {
    height: 100%;
    line-height: 55px;
    padding: 5px;
    padding-left: 15px;
    font-size: 35px;
    font-weight: bold;
    user-select: none;
}
.logo .red {
    color: #e50011;
}
.logo .black {
    color: #221915;
}

#hamburger {
    width: 65px;
    height: 65px;
    border-radius: 500px;
    position: fixed;
    right: 5px;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    transition: transform 0.5s;
}
#hamburger .bar {
    position: absolute;
    display: block;
    width: 44px;
    left: 0;
    right: 0;
    margin: 0px auto;
    height: 5px;
    background-color: #e50011;
    border-radius: 20px;
    transition: transform 0.5s, background-color 0.3s;
}

#hamburger .bar:nth-child(1) {
    top: 15px;
}

#hamburger .bar:nth-child(2) {
    top: 30px;
}

#hamburger .bar:nth-child(3) {
    top: 45px;
}

#hamburger.open .bar:nth-child(1) {
    transform: translateY(15px) rotate(135deg);
}
#hamburger.open .bar:nth-child(2) {
    transform: scaleX(0);
}
#hamburger.open .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-135deg);
}
#menu {
    background-color: #f3f3f3;
    position: fixed;
    top: 65px;
    right: -300px;
    bottom: 0px;
    width: 300px;
    z-index: 98;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    transition: transform 0.5s;
    padding: 20px 10px;
    z-index: 1;
}
#menu.open {
    transform: translateX(-100%);
    z-index: 98;
}

#menu .name {
    color: #e50011;
    text-align: center;
}
#popup {
    width: 100%;
    position: fixed;
    bottom: -125px;
    height: 125px;
    background-color: #f3f3f3;
    z-index: 97;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 10px;
    transition: transform 0.3s;
    /* transform: translateY(100%); */
    max-width: 500px;
    margin: 0px auto;
    left: 0;
    right: 0;
}
#popup.open {
    transform: translateY(-100%);
}
#popup h2 {
    font-size: 20px;
}
.free-space-short.free {
    color: #38ce6e;
}
.free-space-short.full {
    color: #ce3838;
}
button {
    background-color: #417aff;
    color: #f3f3f3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 5px rgba(0,0,0,0.5); */
    cursor: pointer;
    outline: none;
}
.directions {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
@media (min-width: 500px) {
    #popup {
        border-radius: 5px;
        bottom: -150px;
    }
    #popup.open {
        transform: translateY(-140%);
    }
}