@font-face {
    font-family: "Frutiger";
    src: url("../fonts/frutiger.otf");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Frutiger";
    color: #221915;
}
body {
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none !important;
}
.spinner {
    background-image: url("../assets/spinner.svg");
    width: 100%;
    height: 100%;
    background-size: 150px 150px;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 98;
    background-color: #f3f3f3;
    transition: opacity 1s;
}
.spinner.hiding {
    opacity: 0;
}
.spinner.hidden {
    display: none;
}
#map {
    position:absolute; 
    top: 65px; 
    bottom:0; 
    width:100%;
}
.content {
    margin-top: 65px;
}
nav {
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background-color: #f3f3f3;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.logo {
    height: 100%;
    line-height: 55px;
    padding: 5px;
    padding-left: 15px;
    font-size: 35px;
    font-weight: bold;
    user-select: none;
}
.logo .red {
    color: #e50011;
}
.logo .black {
    color: #221915;
}

#hamburger {
    width: 65px;
    height: 65px;
    border-radius: 500px;
    position: fixed;
    right: 5px;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    transition: transform 0.5s;
}
#hamburger .bar {
    position: absolute;
    display: block;
    width: 44px;
    left: 0;
    right: 0;
    margin: 0px auto;
    height: 5px;
    background-color: #e50011;
    border-radius: 20px;
    transition: transform 0.5s, background-color 0.3s;
}

#hamburger .bar:nth-child(1) {
    top: 15px;
}

#hamburger .bar:nth-child(2) {
    top: 30px;
}

#hamburger .bar:nth-child(3) {
    top: 45px;
}

#hamburger.open .bar:nth-child(1) {
    transform: translateY(15px) rotate(135deg);
}
#hamburger.open .bar:nth-child(2) {
    transform: scaleX(0);
}
#hamburger.open .bar:nth-child(3) {
    transform: translateY(-15px) rotate(-135deg);
}
#menu {
    overflow-y: auto;
    background-color: #f3f3f3;
    position: fixed;
    top: 65px;
    right: -300px;
    bottom: 0px;
    width: 300px;
    z-index: 100;
    box-shadow: -10px 0px 10px -10px rgba(0,0,0,0.5);
    transition: transform 0.4s, opacity 0.2s;
    opacity: 0;
    padding: 20px;
}
#menu.open {
    transform: translateX(-100%);
    opacity: 1;
}
#menu h1 {
    color: #e50011;
    text-align: center;
    margin-bottom: 20px;
}
#menu .name {
    color: #e50011;
    text-align: center;
}
#popup {
    width: 100%;
    position: fixed;
    bottom: -125px;
    height: 125px;
    background-color: #f3f3f3;
    z-index: 97;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    padding: 10px;
    transition: transform 0.3s;
    /* transform: translateY(100%); */
    max-width: 500px;
    margin: 0px auto;
    left: 0;
    right: 0;
}
#popup.open {
    transform: translateY(-100%);
}
#popup h2 {
    font-size: 20px;
}
#close-popup {
    font-size: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #e50011;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-text-stroke: 2px #e50011;
}
.free-space-short {
    margin-top: 3px;
}
.free-space-short.free {
    color: #38ce6e;
}
.free-space-short.full {
    color: #e50011;
}
select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button {
    background-color: #e50011;
    color: #f3f3f3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    /* box-shadow: 1px 1px 5px rgba(0,0,0,0.5); */
    cursor: pointer;
    outline: none;
}
.directions {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.setting {
    margin-top: 15px;
}
.setting .title {
    margin-bottom: 5px;
}
.setting button {
    width: 100%;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #221915;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.marker {
    background-image: url('../assets/pin.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
#legend-button {
    width: 100%;
    font-size: 10px;
    padding: 4px;
    position: absolute;
    bottom: 7px;
    left: 7px;
    border-radius: 5px;
    z-index: 95;
    width: 100px;
    transition: width 0.3s;
}
#legend-button.open {
    border-radius: 0px 0px 5px 5px;
    width: 200px;

}
.legend {
    transform: scale(0);
    transition: transform 0.3s, opacity 0.2s;
    opacity: 0;
    width: 200px;
    overflow: hidden;
    position: relative;
    transform-origin: bottom left;
    bottom: 7px;
    left: 7px;
    z-index: 94;
    position: fixed;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    padding: 5px 5px 20px 5px;
    font-size: 12px;
}
.legend.open {
    opacity: 1;
    transform: scale(1);
}
.legend td {
    padding: 2px 5px;
    min-height: 15px;
}
.legend td div {
    margin: 0px auto;
}
.legend-location {
    width: 15px;
    height: 15px;
    background-color: #f3f3f3;
    border: 3px solid #e50011;
    border-radius: 20px;
}
.legend-route {
    width: 25px;
    height: 5px;
    border-radius: 5px;
    background-color: #5b79ff;
}
.legend-10 {
    background-color: #f28cb1;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.legend-5 {
    background-color: #f1f075;
    width: 23px;
    height: 23px;
    border-radius: 30px;
}
.legend-2 {
    background-color: #51bbd6;
    width: 17px;
    height: 17px;
    border-radius: 30px;
}
.legend-parking-garage {
    width: 30px;
    height: 30px;
    background-image: url("../assets/pin.png");
    background-size: cover;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact, .mapboxgl-ctrl-attrib {
    display: none;
}
.mapboxgl-ctrl-bottom-right .mapboxgl-ctrl {
    margin: 0px 7px 7px 0px;
}
.modal-wrapper {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
.modal-content {
    width: 100%;
    max-width: 450px;
    background-color: #f3f3f3;
    color: #e50011;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    overflow-y: auto;
}
.modal-content h3 {
    text-align: center;
}
.modal-content .logo {
    line-height: unset;
    text-align: center;
    height: unset;
}
.modal-content button {
    float: right;
}
@media (min-width: 500px) {
    #popup {
        border-radius: 5px;
        bottom: -150px;
    }
    #popup.open {
        transform: translateY(-140%);
    }
}